@model IEnumerable<MissionIT.WebHelp.Models.Section>
@{
    ViewData["Title"] = "Home Page";
}

<div class="sidebar-sticky">
    <ul class="nav flex-column"></ul>
</div>
<h2>IndexSection</h2>
<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionName)
                </td>
            </tr>
        }
    </tbody>
</table>
